<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Zuupio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2445F391DFA5E950024DE62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2445F511DFA5E970024DE62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2445F5C1DFA5E970024DE62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
